.table {
  color: #fff;
  font-size: 2rem;
  line-height: 4rem;
}
.table__title {
  font-size: 2rem;
  display: inline-block;
  margin-left: 15px;
}
.player__info {
  padding: 0;
  margin: 0;
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.fz-small {
  font-size: 1rem !important;
}
